<!DOCTYPE html>
<html>
<head>
    <title>Выбор метода</title>
</head>
<body>
    <h1>Выберите метод для работы с данными</h1>
    <form method="POST" action="/process_method">
    <input type="hidden" name="table" value="{{ selected_table }}">
    <label>
        <input type="radio" name="method" value="insert"> Вставка данных
    </label><br>
    <label>
        <input type="radio" name="method" value="update"> Обновление данных
    </label><br>
    <label>
        <input type="radio" name="method" value="delete"> Удаление данных
    </label><br>
    <label>
        <input type="radio" name="method" value="retrieve"> Вывод данных
    </label><br>
    <input type="submit" value="Выбрать метод">
</form>

</body>
</html>
