<!DOCTYPE html>
<html>
<head>
    <title>Выбор таблицы для вывода данных</title>
</head>
<body>
    <h1>Выберите таблицу для вывода данных</h1>
    <form method="GET" action="/choose_method">
        <label>
            <input type="radio" name="table" value="client"> Таблица клиентов
        </label><br>
        <label>
            <input type="radio" name="table" value="executor"> Таблица исполнителей
        </label><br>
        <label>
            <input type="radio" name="table" value="service"> Таблица услуг
        </label><br>
        <input type="submit" value="Выбрать таблицу">
    </form>
</body>
</html>
