<!DOCTYPE html>
<html>
<head>
    <title>Выбор таблицы и метода</title>
</head>
<body>
    <h1>Выберите таблицу и метод для работы с данными</h1>
    <form method="POST" action="/choose_options">
        <h3>Выберите таблицу</h3>
        <label>
            <input type="radio" name="table" value="client"> Таблица клиентов
        </label><br>
        <label>
            <input type="radio" name="table" value="executor"> Таблица исполнителей
        </label><br>
        <label>
            <input type="radio" name="table" value="service"> Таблица услуг
        </label><br>
        <h3>Выберите метод</h3>
        <label>
            <input type="radio" name="method" value="insert"> Вставка данных
        </label><br>
        <label>
            <input type="radio" name="method" value="update"> Обновление данных
        </label><br>
        <label>
            <input type="radio" name="method" value="delete"> Удаление данных
        </label><br>
        <label>
            <input type="radio" name="method" value="retrieve"> Вывод данных
        </label><br>
        <input type="submit" value="Выбрать">
    </form>
</body>
</html>
