<!DOCTYPE html>
<html>
<head>
    <title>Список клиентов</title>
    <style>
        .edit-button {
            background-color: #4CAF50;
            color: white;
            padding: 8px 12px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Список клиентов</h1>
    <form action="/client_update" method="post">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя клиента</th>
                    <th>Номер автомобиля</th>
                    <th>Марка автомобиля</th>
                    <th>Год выпуска</th>
                    <th>Номер телефона</th>
                </tr>
            </thead>
            <tbody>
                {% for client in data %}
                    <tr>
                        <td>{{ client.ID }}</td>
                        <td><input type="text" name="Name_{{ client.ID }}" value="{{ client.Name }}"></td>
                        <td><input type="text" name="Car_Number_{{ client.ID }}" value="{{ client.Car_Number }}"></td>
                        <td><input type="text" name="Car_Mark_{{ client.ID }}" value="{{ client.Car_Mark }}"></td>
                        <td><input type="text" name="Car_Year_{{ client.ID }}" value="{{ client.Car_Year }}"></td>
                        <td><input type="text" name="Phone_Number_{{ client.ID }}" value="{{ client.Phone_Number }}"></td>
                        <td>
                            <input type="checkbox" name="edit_client_id" value="{{ client.ID }}">
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <button type="submit" class="edit-button">Сохранить изменения</button>
    </form>
    <br>
    <a href="/">Назад к выбору таблицы</a>
</body>
</html>
