<!DOCTYPE html>
<html>
<head>
    <title>Исполнители</title>
</head>
<body>
    <h1>Список исполнителей</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Адрес</th>
                <th>Номер телефона</th>
                <th>Имя исполнителя</th>
                <th>Дата рождения</th>
                <th>Должность</th>
                <th>Зарплата</th>
                <th>Опыт работы</th>
                <th>Премия за стаж</th>
                <th>График работы</th>
            </tr>
        </thead>
        <tbody>
            {% for executor in executors %}
                <tr>
                    <td>{{ executor.ID }}</td>
                    <td>{{ executor.Address }}</td>
                    <td>{{ executor.Phone_Number }}</td>
                    <td>{{ executor.Name }}</td>
                    <td>{{ executor.Birthday }}</td>
                    <td>{{ executor.Post }}</td>
                    <td>{{ executor.Salary }}</td>
                    <td>{{ executor.Work_Experience }}</td>
                    <td>{{ executor.Seniority_Allowance }}</td>
                    <td>{{ executor.Schedule }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="/choose_options">Назад к выбору таблицы</a>
</body>
</html>
